<div class="container">
  <div class="d-flex justify-content-between" >
    <h3 class="--sub-heading mb-0 "> Shortlisted Applications for HR Interview </h3>
  
<mat-form-field appearance="standard" class="--width-20 ">
    <mat-label>Search</mat-label>
  
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  </div>
      <div class=" mat-elevation-z8 ">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="--bg-green">Candidate</th>
            <td mat-cell *matCellDef="let element"> {{element.studentName}} </td>
          </ng-container>
        
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email  </th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>
        <ng-container matColumnDef="contactNo">
            <th mat-header-cell *matHeaderCellDef> Contact </th>
            <td mat-cell *matCellDef="let element"> {{element.contactNo}} </td>
        </ng-container>
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Position </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
          <ng-container matColumnDef="technology">
              <th mat-header-cell *matHeaderCellDef class="--bg-green"> technology </th>
              <td mat-cell *matCellDef="let element"> {{element.technology}} </td>
            </ng-container>
            
            <ng-container matColumnDef="action1">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let row"> <button class="submit-btn" (click)="openDialog(row)">View Profile</button> </td>
            </ng-container>
            
            <ng-container matColumnDef="action2">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let row"> <button class="submit-btn" (click)="openDialog1(row)">Place Offer</button> </td>
            </ng-container>
            <ng-container matColumnDef="action3">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let row"> <button class="submit-btn" (click)="handleReject(row)">Reject</button> </td>
            </ng-container>
         
       
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         
      </table>
      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
      </mat-paginator>
  </div>
</div>