
      <div class="d-flex justify-content-center align-item-center mx-5">
      
        <form class=" g-3 d-flex flex-column align-item-center mt-1 w-100" (ngSubmit)="handleSubmit()">
          <div class="col-md-12">
            <label for="companyname" class="mt-2 --text-Primary">Company name</label>
            <input type="text" class="form-control" id="companyname" name="companyName" [(ngModel)]="companyName">
          </div>
          <div class="col-md-12">
            <label for="address" class="mt-2 --text-Primary">Address</label>
            <textarea class="form-control" id="address" name="companyAddress" [(ngModel)]="companyAddress"></textarea>
          </div>
          <div class="col-md-12">
            <label for="contactNo" class="mt-2 --text-Primary">Contact Number</label>
            <input type="text" class="form-control" id="contactNo" name="companyContactNo" [(ngModel)]="companyContactNo">
          </div>
          <div class="col-md-12">
            <label for="Email" class="mt-2 --text-Primary">Email</label>
            <input type="email" class="form-control" id="Email" name="companyEmail" [(ngModel)]="companyEmail">
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="password" class="mt-2 --text-Primary">Password</label>
              <input type="password" class="form-control" id="password" name="comapnyPassword" [(ngModel)]="companyPassword">
            </div>
            <div class="col-md-6">
              <label for="password" class="mt-2 --text-Primary">Confirm Password</label>
              <input type="password" class="form-control" id="password2" name="confirmPassword" [(ngModel)]="confirmPassword">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="website" class="mt-2 --text-Primary">Website</label>
              <input type="text" class="form-control" id="website" name="comapnyWebsite" [(ngModel)]="companyWebsite">
            </div>
            <div class="col-md-6">
              <label for="domain" class="mt-2 --text-Primary">Company Domain</label>
              <input type="text" class="form-control" id="domain" name="companyDomain" [(ngModel)]="companyDomain">
            </div>
          </div>
       
          <div class="col-12 my-3 d-flex justify-content-around">
            <button type="submit" class="btn my-2 p-1 btn-primary --text-Primary">Register</button>
          </div>
          <div class="registration-link text-center" routerLink="/auth/login/company" *ngIf="!isCommitee">
           Already Have an account ? Login here !
          </div>
        </form>
      </div>
  
  
