<div class="alert alert-primary" role="alert" *ngIf="IsAlert">
  Check Your Mail Box , we have sent you a OTP !
</div>
<form class="d-flex flex-column">
  <mat-card class="mb-4 mat-elevation-z8">
    <div class="form-group mb-4">
      <label>{{lable}}</label>
      <input formControlName="oldPwd" id="oldPwd" type="password" class="form-control" />
      <!-- <div class="alert alert-danger" *ngIf=".touched && .invalid">

    </div> -->
    </div>
    <div>
      <div class="form-group mb-4">
        <label>New Password</label>
        <input formControlName="newPwd" id="newPwd" type="password" class="form-control" />
        <!-- <div class="alert alert-danger" *ngIf="newPwd.touched && newPwd.invalid">
        <div *ngIf="newPwd.errors.required">New Password is required.</div>
      </div> -->
      </div>

      <div class="form-group mb-4">
        <label>Confirm Password</label>
        <input formControlName="confirmPwd" id="confirmPwd" type="password" class="form-control" />
        <!-- <div class="alert alert-danger" *ngIf="confirmPwd.touched && confirmPwd.invalid">
        <div *ngIf="confirmPwd.errors.required">Confirm Password is required.</div>
      </div> -->
        <!-- <div class="alert alert-danger" *ngIf="confirmPwd.valid && form.invalid && form.errors.pwdsDontMatch">
        Passwords do not match.
      </div> -->
      </div>

    </div>

    <a style="color:blue" class="mb-4" (click)="SetAlert()">forgot Password? send Email</a>
  </mat-card>

  <button class="--btn-filled-primary">Change Password</button>


</form>
