<div class="alert alert-primary" role="alert" *ngIf="IsAlert">
    Check Your Mail Box , we have sent you a OTP !
  </div>
  <form class="d-flex flex-column form-group">
    <div class="mb-4">
      <div class=" mb-4">
        <label>{{lable}}</label>
        <input  id="oldPwd" type="password" name="oldPassword" class="form-control" [(ngModel)]="oldPassword" />
        <!-- <div class="alert alert-danger" *ngIf=".touched && .invalid">
  
      </div> -->
      </div>
      <div>
        <div class="mb-4">
          <label>New Password</label>
          <input id="newPwd" type="password"  name="newPassword" class="form-control" [(ngModel)]="newPassword" />
          <!-- <div class="alert alert-danger" *ngIf="newPwd.touched && newPwd.invalid">
          <div *ngIf="newPwd.errors.required">New Password is required.</div>
        </div> -->
        </div>
  
        <div class=" mb-4">
          <label>Confirm Password</label>
          <input  id="confirmPwd" type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control" />
          <!-- <div class="alert alert-danger" *ngIf="confirmPwd.touched && confirmPwd.invalid">
          <div *ngIf="confirmPwd.errors.required">Confirm Password is required.</div>
        </div> -->
          <!-- <div class="alert alert-danger" *ngIf="confirmPwd.valid && form.invalid && form.errors.pwdsDontMatch">
          Passwords do not match.
        </div> -->
        </div>
  
      </div>
  
      <a style="color:blue" class="mb-4 " (click)="SetAlert()">forgot Password? send Email</a>
    </div>
  
    <button class="btn submit-btn" type="button" (click)="handlePassChange()">Change Password</button>
  
  
  </form>
  