<div class="alert alert-primary" role="alert" *ngIf="IsAlert">
  Check Your Mail Box , we have sent you a OTP !
</div>
<form class="d-flex flex-column form-group">
  <div class="mb-4">
    <div class=" mb-4">
      <label>{{lable}}</label>
      <input  id="oldPwd" type="password" name="oldPassword" class="form-control" [(ngModel)]="oldPassword" #oldpassword="ngModel" required/>
      <div class="error" *ngIf="(oldpassword.touched||oldpassword.dirty) && oldpassword.invalid"
          style="color: red; font-size:12px">
          oldpassword Is Required.</div>
    </div>
    <div>
      <div class="mb-4">
        <label>New Password</label>
        <input id="newPwd" type="password"  name="newPassword" class="form-control" [(ngModel)]="newPassword" #newpassword="ngModel" required />
        <div class="error" *ngIf="(newpassword.touched||newpassword.dirty) && newpassword.invalid"
        style="color: red; font-size:12px">
        newpassword Is Required.</div>
      </div>

      <div class=" mb-4">
        <label>Confirm Password</label>
        <input  id="confirmPwd" type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control" #confirmPwd="ngModel"
         (keyup)="onconfirmPassword(newPassword,confirmPassword)" required/>
        <div class="error" *ngIf="(confirmPwd.touched||confirmPwd.dirty) && confirmPwd.invalid"
        style="color: red; font-size:12px">
        Please Confirm Your Password</div>
        <div *ngIf="errorMsg" style="color: red; font-size:12px">{{errorMsg}}</div>
        <div *ngIf="validMsg" style="color: green; font-size:12px">{{validMsg}}</div>
        
      </div>

    </div>

    <a style="color:blue" class="mb-4 " (click)="SetAlert()">forgot Password? send Email</a>
  </div>

  <button class="btn submit-btn" type="button" (click)="handlePassChange()">Change Password</button>


</form>
