table,.mat-paginator {
  
    text-align: center!important;
  z-index: 1000;
  }
  .tablediv{
    min-height: 500px;
  }
  td,th{
    text-align: center!important;
  }
  .example-container {
    position: relative;
  }
  
