 
<div class="d-flex justify-content-around align-item-center mx-5">
  <div class="alert alert-success fixed-top" role="alert" *ngIf="registered">
    Registered Successfully !
  </div> 
      <form class="g-3 d-flex flex-column align-item-center w-100" (ngSubmit)="handleSubmit()">

<div class="row">
  <div class="col-md-6">
    <label for="spid" class="mt-3 --text-Primary">SPID</label>
    <input type="number" class="form-control" name="spid" [(ngModel)]="spid" id="spid" #spidField="ngModel"
      required>
    <div class="error" *ngIf="(spidField.touched||spidField.dirty) && spidField.invalid"
      style="color: red; font-size:12px">
      Spid Is Required.</div>
  </div>
  <div class="col-md-6">
    <label for="stdname" class="mt-3 --text-Primary">Name</label>
    <input type="text" class="form-control" id="stdname" name="studentName" [(ngModel)]="studentName"
      #name="ngModel" required>
    <div class="error" *ngIf="(name.touched||name.dirty) && name.invalid" style="color: red; font-size:12px">
      Name Is Required.</div>
  </div>
</div>
      <div class="row">
        <div class="col-md-6">
          <label for="course" class="mt-3 --text-Primary">Course</label>
          <select id="course" class="form-select" name="course" [(ngModel)]="courseId" #course="ngModel" required>
            <option selected>Choose...</option>
            <option value="{{item.courseId}}" *ngFor=" let item of courseList">{{item.courseName}}</option>
          </select>
          <div class="error" *ngIf="(course.touched||course.dirty) && course.invalid"
            style="color: red; font-size:12px">
            Course Is Required.</div>
        </div>
        <div class="col-md-6">
          <label for="contactNo" class="mt-3 --text-Primary">Contact Number</label>
          <input type="text" class="form-control" id="contactNo" name="contactNo" [(ngModel)]="contactNo"
            #contact="ngModel" required>
          <div class="error" *ngIf="(contact.touched||contact.dirty) && contact.invalid"
            style="color: red; font-size:12px">
            Contact Is Required.</div>
        </div>
      </div> 
      
        <div class="col-md-12">
          <label for="Email" class="mt-3 --text-Primary">Email</label>
          <input type="email" class="form-control" id="Email" name="email" [(ngModel)]="email" #validemail="ngModel"
            required>
          <div class="error" *ngIf="(validemail.touched||validemail.dirty) && validemail.invalid"
            style="color: red; font-size:12px">
            Email Is Required.</div>
        </div>
        <!-- <div class="row">
          <div class="col-md-6">
            <label for="password" class="mt-3 --text-Primary">password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
          </div>
          <div class="col-md-6">
            <label for="confirmPassword" class="mt-3 --text-Primary">Confirm Password</label>
            <input type="text" class="form-control" id="confirmPassword">
          </div>
        </div>     -->
     <div class="row">
      <div class="col-md-6">
        <label for="password" class="mt-3 --text-Primary">password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password"
          #passwordField="ngModel" required>
        <div class="error" *ngIf="(passwordField.touched||passwordField.dirty) && passwordField.invalid"
          style="color: red; font-size:12px">password Is Required.</div>
      </div>
      <div class="col-md-6">
        <label for="confirmPassword" class="mt-3 --text-Primary">Confirm Password</label>
        <input type="text" class="form-control" id="confirmPassword" name="confirmPassword"
          [(ngModel)]="confirmPassword" (keyup)="onconfirmPassword(password,confirmPassword)" #confirm="ngModel"
          required>
        <div class="error" *ngIf="(confirm.touched||confirm.dirty) && confirm.invalid"
          style="color: red; font-size:12px">Please Confirm Your Password</div>
        <div *ngIf="errorMsg" style="color: red; font-size:12px">{{errorMsg}}</div>
        <div *ngIf="validMsg" style="color: green; font-size:12px">{{validMsg}}</div>
      </div>
     </div>     
     
        <div class="col-md-12">
          <label for="files" class="mt-3 --text-Primary">Profile Picture</label>

          <img *ngIf="isPreview" [src]="url" alt="" srcset="" height="150px" width="150px" class="mb-2">
          <input type="file" class="form-control" id="files" (change)="onFileChange($event)" name="photo"
            [(ngModel)]="photo" />
        </div>
        <div class="col-12 my-3 d-flex justify-content-around">
          <button type="submit" class="btn my-2 p-1 btn-primary --text-Primary"
            [disabled]="!(spidField.valid && name.valid &&course.valid&&contact.valid &&validemail.valid &&passwordField.valid && confirm.valid)">Register</button>
        </div>
        <div class="registration-link" routerLink="/auth/login/student">
          Already Have an account ? Login here !
         </div>
      </form>
    </div>

