<div class="d-flex justify-content-center align-item-center w-100">
  <div class="d-flex justify-content-center align-item-center w-100 mt-5 align">
    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"
      style="position:absolute; z-index:-999; height:700px; width:700px; left:150px; bottom: 50px; right: 20px;">
      <path fill="#2D6CDF"
        d="M50.7,-50C63.4,-38,69.7,-19,70.2,0.5C70.7,20,65.3,39.9,52.6,52.6C39.9,65.2,20,70.5,0.3,70.2C-19.3,69.9,-38.7,64,-50.4,51.3C-62,38.7,-66,19.3,-64.3,1.7C-62.7,-16,-55.3,-32,-43.7,-44C-32,-56,-16,-64,1.5,-65.5C19,-67.1,38,-62,50.7,-50Z"
        transform="translate(100 100)" />
    </svg>
    <div class=" d-flex justify-content-center align-item-center " style="z-index:1;">

      <img src="../../../assets/imgs/undraw_access_account_re_8spm.svg" alt="" class="imgs">
    </div>
    <div class=" d-flex justify-content-center --50vw">
      <form class="row g-3 d-flex flex-column align-item-center --width-50 mt-5" (ngSubmit)="handleSubmit()">
        <h1 class="--text-dark">
          Student Login
        </h1>
        <hr>
        <div class="col-md-12">
          <label for="spid" class="form-label --text-Primary">SPID</label>
          <input type="number" class="form-control" id="spid" name="spid" [(ngModel)]="spid">
        </div>
        <div class="col-md-12">
          <label for="password" class="form-label --text-Primary">Password</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary --text-Primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
