
<div class="d-flex justify-content-center align-item-center main-form-container">
  <div class="alert alert-danger fixed-top fade show  " role="alert" *ngIf="errorMessage">
    {{errorMessage}}
  </div> 
      <form class="row g-3 d-flex flex-column align-item-center --width-50 " (ngSubmit)="handleSubmit()">
      
        <div class="col-md-12">
          <label for="spid" class="form-label --text-Primary">SPID</label>
          <input type="number" class="form-control" id="spid" name="spid" [(ngModel)]="spid" #spidField="ngModel" required pattern="[0-9]{10}">
          <div class="error" *ngIf="(spidField.touched||spidField.dirty) && spidField.invalid" style="color: red; font-size:12px">Spid Is Required.</div>
          <div class="error" *ngIf="(spidField.errors?.['pattern'])" style="color: red; font-size:12px" >Spid Should be of 10 digits ! Invalid Format</div>
       
        </div>
        <div class="col-md-12">
          <label for="password" class="form-label --text-Primary">Password</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" #passwordField="ngModel" required>
         <div class="error" *ngIf="(passwordField.touched||passwordField.dirty) && passwordField.invalid" style="color: red; font-size:12px">password Is Required.</div>
        </div>
        <div class="forgetpass-link">
          Forget Password ? 
        </div>
     
        <div class="col-12 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary --text-Primary" [disabled]="!(spidField.valid && passwordField.valid)">Login</button>
        </div>
        <div class="registration-link text-center" routerLink="/auth/registration/student">
          Dont Have an account ? Register Now .
        </div>
      </form>
    
  
</div>
