<div class="container">
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          .col-md-8
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="JobprofileID">JobP rofile ID</label>
              <input type="number" class="form-control" id="JobprofileID" readonly>
            </div>
            <div class="col-md-6 form-group">
              <label for="SPID">Spid</label>
              <input type="number" class="form-control" id="SPID" readonly>
            </div>
          </div>
        </div>
        <div class="col-md-4">.col-md-4</div>
      </div>
    </div>
  </form>
</div>
