@import "../../../_styles/variables.scss";
.ng-star-inserted {
  height: 100%;
  width: 85vw;
}
.parent-div {
  height: 83vh;
  width: 85vw;
}
.mat-card-title {
  width: 65vw !important;
}

.mat-card {
  border-radius: 10px;
  -webkit-box-shadow: 13px 16px 37px -11px rgba(0, 0, 0, 0.123);
  -moz-box-shadow: 13px 16px 37px -11px rgba(0, 0, 0, 0.124);
  box-shadow: 13px 16px 37px -11px rgba(0, 0, 0, 0.117);
}
.mat-select {
  height: 15px !important;
}
.--height-5 {
  height: 35px;
}
mat-chip-list {
  width: 20rem;
}

.--tech-style{
  text-align: center;
  border-radius: 8px;
  border:1px dashed $primary;
  color: $primary;
  letter-spacing: 2px;
}
.--internship-date{
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 1rem;
}
