<div class="row d-flex justify-content-center box-heading">
  {{ mainData.companyName }}
</div>
<div class="row">
  <div class="col-12 d-flex flex-row justify-content-center">
    <div class=" box-sub-heading">{{ mainData.position }}</div>
  </div>
</div>
<div class="row main">
  <div class="col-6  d-flex flex-column justify-content-evenly h-100">
    <div class="col-12 d-flex flex-column justify-content-start">
      <div class=" data-label">Technology</div>
      <div class=" api-data">{{ mainData.technology }}</div>
    </div>

    <div class="col-12 d-flex flex-column justify-content-start">
      <div class=" data-label">Estimated CTC</div>
      <div class=" api-data">{{ mainData.minCtc }} - {{mainData.maxCtc}}</div>
    </div>
    <div class="col-12 d-flex flex-column justify-content-start">
        <div class=" data-label">Website</div>
        <div class=" api-data">{{ companyData.website }}</div>
      </div>
  </div>
  <div class="col-6 d-flex flex-column  h-100">
 

    <div class="col-12 d-flex flex-column justify-content-start">
      <div class=" data-label">Hr Contact No.</div>
      <div class=" api-data">{{ companyData.contactNo }}</div>
    </div>

    <div class="col-12 d-flex flex-column justify-content-start">
      <div class=" data-label">Email</div>
      <div class=" api-data">{{ companyData.email }}</div>
    </div>
  </div>

  
</div>
<div class="row">
    <div class="col-12 d-flex flex-column justify-content-start">
      <div class="data-label">Description</div>
      <div class="api-data">{{ mainData.jobDescription }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex flex-column justify-content-start">
      <div class="data-label">Company Address</div>
      <div class="api-data">{{ companyData.address }}</div>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-end" *ngIf="!mainData.status">
    <button class="btn submit-btn" (click)="handleApply()">Apply</button>
  </div>
