<div class="main container">
  <div class="d-flex justify-content-between">
    <h3 class="--sub-heading  ">Company Offers</h3>

    <mat-form-field appearance="standard" class=" ">
      <mat-label>Search</mat-label>
    
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
  </div>
 

    <div class=" mat-elevation-z8 ">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef class="--bg-green"> Company </th>
          <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
        </ng-container>
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <ng-container matColumnDef="technology">
            <th mat-header-cell *matHeaderCellDef class="--bg-green"> technology </th>
            <td mat-cell *matCellDef="let element"> {{element.technology}} </td>
          </ng-container>
        <ng-container matColumnDef="minCtc">
            <th mat-header-cell *matHeaderCellDef> minCtc  </th>
            <td mat-cell *matCellDef="let element">{{element.minCtc}}</td>
        </ng-container>
        <ng-container matColumnDef="maxCtc">
            <th mat-header-cell *matHeaderCellDef> maxCtc </th>
            <td mat-cell *matCellDef="let element"> {{element.maxCtc}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let row"> <button class="submit-btn " (click)="openDialog(row)">View Offer</button> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       
    </table>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>
</div>
</div>