
<div class="d-flex justify-content-around align-item-center main-form-container">
  <form class="row g-3 d-flex flex-column align-item-center --width-50 " (ngSubmit)="handleSubmit()">
        
          <div class="col-md-12">
            <label for="Email" class="form-label --text-Primary">Email</label>
            <input type="email" class="form-control" id="Email" name="companyEmail" [(ngModel)]="companyEmail">
          </div>
          <div class="col-md-12">
            <label for="password" class="form-label --text-Primary">Password</label>
            <input type="password" class="form-control" id="password" name="comapnyPassword" [(ngModel)]="companyPassword">
          </div>
          <div class="forgetpass-link">
            Forget Password ? 
          </div>
          <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary --text-Primary">Login</button>
          </div>
          <div class="registration-link" routerLink="/auth/registration/company">
            Dont Have an account ? Register Now .
          </div>
        </form>
      </div>
   