

<mat-drawer-container class="example-container " autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <div class="mainNavDiv">
      <!-- <div class="d-flex justify-content-center align-items-center ">
        <img src={{profilePic}}  alt="">
      </div> -->
      <!-- <p >Welcome, {{currentUser}} </p> -->
      <mat-accordion *ngFor="let menu of MenuList">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="links">
              {{menu.heading}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul *ngFor="let item of menu.links">
            <li class="links" routerLink="{{item.url}}">{{item.title}}</li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-drawer>
 

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
