<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="mainNavDiv">
      <h6 routerLink="/dashboard/student">Dashboard</h6>
      <mat-accordion *ngFor="let menu of MenuList ">

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{menu.heading}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul *ngFor="let item of menu.links">
            <li routerLink="{{item.url}}" style="color: white;">{{item.title}}</li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-drawer>
  <button type="button" class="--btn-outlined-primary mx-4" mat-button (click)="toggle(drawer)">
    <mat-icon>{{isMenuOpne?'clear':'apps'}}</mat-icon>
  </button>
  <hr class="mx-3">
  <div class="example-sidenav-content ">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
