/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import './app/_styles/common';
@import './app/_styles/material';
@import './app/_styles/variables.scss';

.my-btn {
  outline: none !important;
  border: 0;
  color: black;
}
body { margin: 0; font-family: "Josefin Sans" !important;
 }
li{
  list-style-type: none;
  color: $white;
}
.my-btn {
  outline: none !important;
  border: 0;
  color: black;
}

html,
body {
  height: auto;
  overflow: hidden;
}

.bg-dark-blue {
  background-color: #00004d;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.form-control:focus,.form-control:active{
  outline: none !important;
}
