<div class="container mt-3">
  <h3 class="--sub-heading  ">Ongoing Votings</h3>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="Companyid">
      <th mat-header-cell *matHeaderCellDef> Companyid </th>
      <td mat-cell *matCellDef="let element"> {{element.companyId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="CompanyName">
      <th mat-header-cell *matHeaderCellDef> CompanyName </th>
      <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
    </ng-container>

    <!-- Weight Column -->
    

    <ng-container matColumnDef="Min Ctc">
      <th mat-header-cell *matHeaderCellDef> Min Ctc </th>
      <td mat-cell *matCellDef="let element"> {{element.minCtc}}</td>
    </ng-container>

    <ng-container matColumnDef="Max Ctc">
      <th mat-header-cell *matHeaderCellDef> Max CTC </th>
      <td mat-cell *matCellDef="let element"> {{element.maxCtc}} </td>
    </ng-container>
    <ng-container matColumnDef="VotingEndDate">
      <th mat-header-cell *matHeaderCellDef> Voting End Date </th>
      <td mat-cell *matCellDef="let element"> {{element.votingEndDate| date: 'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> ACTION</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="checkDate(element.votingEndDate)">
          <button class="--btn-filled-green " (click)="onVote(element)">Vote</button>
        </div>
        <div *ngIf="!checkDate(element.votingEndDate) " class=" text-danger">
          voting End!
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
