body{
    font-size: 10px;
  }
  .example-container {
    width: 100vw;
    height: 100vh;
  }
  .example-sidenav{
    background-color: #1D1919;
  }
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .mat-drawer{
    margin: 0;
    padding: 0;
  }
  .mainNavDiv{
  
    display: flex;
    flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .--height-full{
    height: 100%;
  }
  .mat-expansion-pane-body{
    padding: 0px 0px !important;
  }
 
  