


<mat-drawer-container class="example-container " autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
      <div class="mainNavDiv">
        <!-- <div class="d-flex justify-content-center align-items-center ">
          <img src="../../../assets/imgs/Screenshot 2022-10-22 133010.png" class="profile-img"
            alt="">
        </div> -->
        <mat-accordion *ngFor="let menu of MenuList">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{menu.heading}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul *ngFor="let item of menu.links">
              <li routerLink="{{item.url}}">{{item.title}}</li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-drawer>
 <div class="main-content">
  <router-outlet></router-outlet>
 </div>
   
  
  </mat-drawer-container>
  