<div class="container">
    <h3 class="--sub-heading mb-0 "> Placement Statstics</h3>
    <div class="d-flex justify-content-around flex-wrap">
        <mat-card class=" mat-elivation-z8 m-3 p-3">  <google-chart #chart
            [title]="title"
            [type]="type"
            [data]="data"
            [columns]="columnNames"
            [options]="options"
            [width]="width"
            [height]="height">
         </google-chart></mat-card>
         <mat-card class=" mat-elivation-z8 m-3 p-3">  <google-chart #chart
            [title]="title2"
            [type]="type2"
            [data]="data2"
            [columns]="columnNames2"
            [options]="options2"
            [width]="width2"
            [height]="height2">
         </google-chart></mat-card>
   </div>

         <div class="d-flex justify-content-around flex-wrap">

    <div class="small-card  p-3 m-3 d-flex alignt-item-center ">
      <div>
         {{totalPlacedTillNow}}
        </div>
      <div class="subtitles">
       Students placed 
       </div>
      
    </div>
    <div class="small-card  p-3 m-3 d-flex alignt-item-center ">
      <div>
         {{ totalRegisteredStudent}}
      </div> 
      <div class="subtitles">
       Students registered this year
        </div>
        
     </div>
     <div class="small-card  p-3 m-3 d-flex alignt-item-center ">
      <div>
         {{totalPlacedthisyear}}
        </div>  
      <div class="subtitles">
         Students placed this year
        </div>
        
     </div>
     <div class="small-card  p-3 m-3 d-flex alignt-item-center ">
      <div>
         {{averageCTC|currency:'INR':'symbol':'3.0-2'}}
       </div>
      <div class="subtitles">
       Average CTC
      </div>
   </div>
    </div>
    <div class="d-flex justify-content-around flex-wrap">
      <div class="stu-card  p-3 m-3 d-flex alignt-item-center " *ngFor="let item of toptenstudents">
         
         <div class="card-main-name">
          {{item.studentName}} </div>
          <div class="card-main-ctc">
            {{item.ctc|currency:'INR':'symbol':'3.0'}}
          </div>
          <div class="subtitles">{{item.name}}</div>
          <div class="subtitles">{{item.year}}</div>

        
      </div>
    </div>
    <!-- <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active ">
            <div class="card">
               <img src="..." class="card-img-top" alt="..."> 
               <div class="card-body">
                 <h5 class="card-title">Top Placements</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="#" class="btn btn-primary">Go somewhere</a>
               </div>
             </div>
        <div class="carousel-item " *ngFor="let item of toptenstudents">
         <div class="card">
           <img src="..." class="card-img-top" alt="..."> 
            <div class="card-body">
              <h5 class="card-title">{{item.spid}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
       
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
       </button>*
       <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
       </button>
    </div> -->
</div>
